/*****************************************************
|=================COMMON STYLES===================|
******************************************************/
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap');

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

}

a{
    text-decoration: none;
   
}

ul{
    list-style-type: none;
}

body{
    font-family:"Nunito", sans-serif;
}

/*****************************************************
|====================NAV SECTION================|
******************************************************/

nav{
    background-color: teal;
    align-items: center;
    display: flex;
    padding: 20px 50px;
    justify-content: space-between;
}

nav h1{
    margin-right: auto;
}
nav a{
    color: white;
}

nav ul{
    display: flex;
    gap: 45px;
    color: white;
    align-items: center;
}

#box, .hamburger{
    display: none;

}



/*****************************************************
|====================ABOUT SECTION================|
******************************************************/
.about{
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 120px;
    justify-content: space-between;  
}

.about-text{
    width: 45%;
    color: #324A58;
}

.about-text h2{
    color: teal;
    margin-bottom: 32px;
    font-size: 32px;
    font-weight: 600;

}

.about-text p{
    font-size: 24px;
    font-weight: 600;
    line-height: 1.5;

}

.about-text p:nth-child(3){
    margin-top: 1.5rem;
}

/*****************************************************
|====================PAST PROJECT SECTION================|
******************************************************/
.project-heading{
    display: flex;
    justify-content: space-between;
}

.past-projects{
    padding-left: 50px;
    padding-right: 50px;
}


/*****************************************************
|====================CONTACT SECTION================|
******************************************************/
.contact{
    background-color: #00C19F;
    margin:80px 0
    
    }
    .contact-text{
    width: 400px;
    text-align: center;
    margin: 0 auto;
    padding: 64px 0;
    }
    
    .contact-text h2{
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 32px;
    }
    
    .contact-text p{
    color: white;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 24px;
    }
    
    
    .button {
    display: inline-block;
    background-color:#e310cb;
    color: white;
    padding: 12px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 20px;
    }
    
/*****************************************************
|====================SERVICE SECTION================|
******************************************************/ 
.services{
    background-color: rgb(34, 124, 124);
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.services ul{
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 10%;
    background-color: white;
    color: teal;
}
    

/*****************************************************
|====================CONTACT SECTION================|
******************************************************/ 
.contact{
    background-color: teal;
    color: white;
    display: flex;
    align-items: center;
}